{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoonPost</title>

    <link rel="stylesheet" href="{% static '/css/main.css'%}" />
  </head>
  <body >
    <div class="heading">
      <h1>MoonPost</h1>
      
    </div>
    <div class="form-control">
      
    </div>
    {%block content%}

    
    
    {%endblock%}

  
   

      
    <div class="form-control contianer-fluid">
  
        <a href="/admin" >admin</a>
      </div>
      <h3 class="made_by">MoonPost llc 2021</h3>
     
     
  </body>
</html>
