<!DOCTYPE html>
<html lang="en">
    
    <head>
        {% load static%}
        {% csrf_token %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Moon Post</title>

    <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/clean-blog.min.css'%}" />

    <!-- Custom Fonts -->
      <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}"  type="text/css"/>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Moon Post</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'images/about-bg.jpg' %}') ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Register Here</h1>
                        <hr class="small">
                        <span class="subheading">Please fill the form.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

  
       <!-- Main Content -->
       <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Fill the form to post.</p>
                <form action="register" method="POST" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" id="first_Name" required data-validation-required-message="Please enter your First Name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" id="last_Name" required data-validation-required-message="Please enter your Last Name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="username" id="username" required data-validation-required-message="Please enter your Username.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password" id="password1" required data-validation-required-message="Please enter your Password.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>    
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password" id="password2" required data-validation-required-message="Please enter your Password.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>           
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Moon Post 2021</p>
                </div>
            </div>
        </div>
    </footer>
  <!-- jQuery -->
  <script src=" {% static 'vendor/jquery/jquery.min.js'%}" type="text/javascript"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src=" {% static 'vendor/bootstrap/js/bootstrap.min.js'%}" type="text/javascript"></script>

  <!-- Contact Form JavaScript -->
  <script src=" {% static 'js/jqBootstrapValidation.js'%}" type="text/javascript"></script>

  <!-- <script src="js/contact_me.js"></script> -->
  <script src=" {% static 'js/contact_me.js'%}" type="text/javascript"></script>

  <!-- Theme JavaScript -->
  <script src=" {% static 'js/clean-blog.min.js'%}" type="text/javascript"></script>

</body>

</html>
